<div>
    <img src="{{product.image}}" width="200">
</div>
<h2>{{product.name}}</h2>
<h3>Danh mục: {{product.cate_id.name}}</h3>
<p><b>{{product.price}}đ</b> <strike>{{product.old_price}}đ</strike></p>